{# CHAQUE ÉVÉNEMENT DANS LA PROGRAMMATION #}

{% set date = date|render|striptags|trim %}
{% set mention = titre_texte_2 %}
{% set dateNo = date|date('j') %}
{% set mois = date|date('F')|t|upper %}
{% set day = date|date('l')|t|upper %}
{% set hour = date|date("H:i") %}
{% set sousevenements = texte_3|render|striptags|trim is not empty %}
{% set multidate = date_fin|render|striptags|trim is not empty %}
{% if multidate %}
  {% set end_date = date_fin|render|striptags|trim %}
  {% set end_date_dateNo = end_date|date('j') %}
  {% set end_date_mois = end_date|date('F')|t|upper %}
  {% set end_date_day = end_date|date('l')|t %}
  {% set end_date_hour = end_date|date("H:i")|replace({':':'H'}) %}
{% endif %}


{% if sousevenements %}
  {% set date_col_classes = [
    'col-12',
    'col-lg-4',
    'text-lg-start',
    'text-center',
    'order-lg-2'
  ]%}
{% else %}
  {% set date_col_classes = [
    'col-12',
    'col-lg-4',
    'd-flex',
    'flex-column',
    'justify-content-between',
    'text-lg-start',
    'text-center'
  ]%}
{% endif %}


<div {{ attributes.addClass( date_col_classes) }}> 
  <div>
    <h2 class="concert-date text-center">{{day}} {{dateNo}}&nbsp;{{mois}}</h2> 
    <h3 class="concert-venue mt-3 text-center">{{place|render|striptags|replace({'&amp;': '&','&#039;':"'"})|upper}}</h3> 
    <h4 class="concert-time mt-1 text-center">{{hour|replace({':':'H'})}}</h4>
  </div>
  <div class="text-center">
    <a class="btn btn-primary mt-4 stretched-link align-items-center" href="{{eventurl|raw|render|striptags|trim}}">EN SAVOIR PLUS</a> 
  </div>
</div>

{% if (sousevenements) %}
  {% set nodeidVar = nodeid|render|striptags %}
  {{ drupal_view('sous_evenements', 'block_2', nodeidVar) }}
{% else %}
  <div class="col-12 col-lg-8"> 
    {% include ('@contrechamp/includes/evenement_prog.html.twig') %}
  </div>
{% endif %}
