{% set googlemaps_link = googlemaps_link|render|striptags|trim %}
<div class="col-12 col-sm-9 text-center text-sm-start"> 
    <div class="bold-font big-text fix-baseline mb-1">{{place|render|striptags|upper|replace({"Ô":"O", "&#039;": "'"})}}</div>
    {% if googlemaps_link is not empty %}     
        <a href="{{googlemaps_link}}" target="_blank" class="stretched-link">{{address}}</a> 
    {% else %}
        {{address}}
    {% endif %}
</div> 
<div class="col-sm-3 d-none d-sm-block"> 
    <img src="/{{directory}}/img/gradient_arrows_colored.fd67d8e1.svg" alt="Flèches" class="fa-rotate-180 mw-100"> 
</div>